<h1>Showing article</h1>
<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong>Title:</strong>
    <%= @article.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @article.description %>
  </p>

</div>

<div>
  <p>
    <%= link_to "Back to articles", articles_path %>
    |
    <%= link_to "Edit this article", edit_article_path(@article) %>
  </p>
  <%= button_to "Destroy this article", @article, method: "delete", data: { confirm: "Are you sure?" } %>
</div>
